/* .body {
  position: relative;
}

.wrap {
  position: relative;
  top: 20vh;
  z-index: 1;
  font-weight: 800;
  font-size: 5rem;
  
} */


.container-landing {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  font-weight: 800;
  
}

.h1text{
  display: flex;
  justify-content: flex-start;
  font-size: 40px !important;
    line-height: 40px !important;
    letter-spacing: -1.5px !important;
    font-weight: 900 !important;
    color: #333333 !important;
    padding-left: 2opx;
}
