.footer-container {
    display: flex;
    justify-content: center;
    margin: 20px;
   padding: 1rem;
      height: 4rem;
   border: solid lightblue 2px;
    text-align: center;
    background-color: lightblue;
    font-size: 2rem;
    letter-spacing: 50px;
    margin-top: 50px;
}

.icon {
    padding: 3px;
}